
<div class="user-menu" id="userMenu">
  
    <button class="btn" id="sidebarToggle"><i class="fas fa-bars"></i></button>
   
</div>
<div class="sidebar" id="sidebar">
    <ul class="list-group">
        <li class="list-group-item">
            <a asp-area="Admin" asp-controller="Account" asp-action="UpdateAccount">Thông tin cá nhân</a>
        </li>
         
        <li class="list-group-item">
            <a href="@Url.Action("Logout", "Account")">Đăng xuất</a>
        </li>
    </ul>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<style>
    .user-menu {
        display: flex;
        align-items: center;
    }
    .user-menu .btn {
            margin: 10px;
    }

    .list-group-item {
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 14px;
        border: none;
    }

    .list-group-item i {
            color: #ff6b6b;
     }

     .list-group-item:hover {
            background-color: #f7f7f7;
     }
</style>
<script>

    $(document).ready(function () {
        const sidebarToggle = document.getElementById('sidebarToggle');
        const sidebar = document.getElementById('sidebar');
        const sidebarClose = document.getElementById('sidebarClose');

        sidebarToggle.addEventListener('click', function () {
            sidebar.classList.toggle('active');
        });

        sidebarClose.addEventListener('click', function () {
            sidebar.classList.remove('active');
        });
    });
</script>