@model BookSellingManagement.Models.Book.BookModel

<title>Xem Thông Tin Sách</title>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<div class="container">
    <h2 class="text-center mt-4">Xem Thông Tin Sách</h2>

    <!-- Form to View Book Details -->
    <form>
        <!-- Hidden input for BookId -->
        <input type="hidden" asp-for="BookId" />
      
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Tên Sách</label>
                <input readonly asp-for="BookName" class="form-control">

            </div>
            <div class="form-group col-md-6">
                <label>Vị Trí</label>
                <input readonly asp-for="Location" class="form-control" />
             
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Số Lượng</label>
                <input readonly asp-for="RemainingQuantity" type="number" class="form-control">
              
            </div>
            <div class="form-group col-md-6">
                <label>Tác Giả</label>
                <select disabled asp-for="AuthorId" class="form-control" asp-items="ViewBag.Authors">
                </select>
              
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Giá Bán</label>
                <input readonly asp-for="Price" type="decimal" class="form-control">
              
            </div>
            <div class="form-group col-md-6">
                <label>Thể Loại</label>
                <select disabled asp-for="CategoryId" class="form-control" asp-items="ViewBag.Categories">
                    <option value="">Chọn Thể Loại</option>
                </select>
              
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Hình Ảnh</label>
               
              

                <!-- Show image if available -->
                @if (!string.IsNullOrEmpty(Model.Image))
                {
                    <img src="~/images/@Model.Image" alt="@Model.BookName" class="img-fluid" style="width: 50px; height: auto;">
                }
                else
                {
                    <p>Không có hình ảnh</p>
                }
            </div>

            <div class="form-group col-md-6">
                <label>Mô Tả</label>
                <textarea readonly asp-for="Description" class="form-control" rows="5" id="Description"></textarea>
               
            </div>
        </div>

        <div class="mt-4">
            <a href="@Url.Action("Index", "Books")">
                <i class="fas fa-arrow-left"></i> Quay lại
            </a>
        </div>
    </form>
</div>

<!-- JavaScript and Bootstrap -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


<script src="//cdn.ckeditor.com/4.22.1/standard/ckeditor.js"></script>
<script>
    CKEDITOR.replace('Description');
</script>
