
<style>
    .search-bar {
        width: 300px;
        display: flex;
        align-items: center;
        margin-left: auto; /* Đẩy thanh tìm kiếm về bên phải */
    }

        .search-bar input {
            flex: 1;
        }

    .table-container {
        margin-top: 20px;
        margin-left: 50px;
    }
</style>

<div class="container">
    <h2 class="text-center mt-4">Đơn Hàng</h2>

    <!-- Add and Search Section -->
    <div class="d-flex align-items-center mt-4">
        <div class="search-bar">
            <input type="text" id="searchInput" class="form-control" placeholder="Tìm kiếm theo tên mã đơn hàng">
            <button class="btn btn-primary ml-2" onclick="searchCustomer()">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </div>

    <!-- Customer Table -->
    <div class="table-container">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Mã Đơn Hàng</th>
                    <th>Ngày Đặt</th>
                    <th>Trạng Thái</th>
                    <th>Tổng Tiền</th>
              
                </tr>
            </thead>
            <tbody>
                @foreach (var order in Model)
                {
                    <tr>
                        <td>@order.OrderCode</td>
                        <td>@order.CreateDate</td>
                        <td>
                            @if (order.Status == 1)
                            {
                                <span class="text-danger">Đơn hàng mới</span>
                            }
                            else if (order.Status == 2)
                            {
                                <span class="text-success">Đã thanh toán</span>
                            }
                            
                            else if (order.Status == 4)
                            {
                                <span class="text-primary">Đang giao hàng</span>
                            }
                            else if (order.Status == 5)
                            {
                                <span class="text-success">Giao thành công</span>
                            }
                        </td>
                        <td>@order.TotalAmount.ToString("N0").Replace(",", ".")</td>
                  
                    </tr>
                }
            </tbody>
        </table>

    </div>
    <div class="mt-4">
        <a href="@Url.Action("Index", "Customers")">
            <i class="fas fa-arrow-left"></i> Quay lại
        </a>
    </div>
</div>



