@model BookSellingManagement.Models.Categories.CategoryModel


<title>Xem Thông Tin Thể Loại</title>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">


<div class="container">
    <h2 class="text-center mt-4">Xem Thông Tin Thể Loại</h2>

    <!-- Form to Add New Book -->
    <form asp-action="Details" enctype="multipart/form-data">
        <input type="hidden" asp-for="CategoryId" />

        <div class="form-row">

            <div class="form-group col-md-6">
                <label>Tên Thể Loại</label>
                <input readonly asp-for="CategoryName" class="form-control">

            </div>


        </div>
        <div class="form-row">


            <div class="form-group col-md-6">
                <label>Mô Tả</label>
                <textarea readonly asp-for="Description" class="form-control" rows="5" id="Description"></textarea>
    
            </div>
        </div>

        <div class="text-left mt-4">
            <a class="btn btn-primary" asp-action="Index" asp-controller="Categories">Quay Lại</a>
        </div>
    </form>
</div>


<!-- JavaScript and Bootstrap -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script src="//cdn.ckeditor.com/4.22.1/standard/ckeditor.js"></script>

<script>
    CKEDITOR.replace('Description');

</script>


}
