@model AppUserModel

<div class="card" style="max-width: 700px; margin: 0 auto;">
    <div class="card-header text-center">
        <h5> Đặt mật khẩu mới</h5>

    </div>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="card-body">
        <form asp-action="UpdateNewPassword" asp-controller="Account">
            <div class="mb-3">
                <label>Email</label>
                <input asp-for="Email" readonly value="@ViewBag.Email" class="form-control form-control-sm" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label>Mật khẩu mới</label>
                <input asp-for="PasswordHash" class="form-control form-control-sm" />
                <span asp-validation-for="PasswordHash" class="text-danger"></span>
            </div>
          
            <button class="btn btn-primary w-100 mt-3 btn-sm">Gửi</button>
        </form>
        
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");

    }

}