@model AppUserModel 
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<div class="card" style="max-width: 700px; margin: 0 auto;">
    <div class="card-header text-center">
        <h5>Thông tin tài khoản</h5>
    </div>
    <div asp-validation-summary="ModelOnly" class="text-danger text-center mb-3"></div>
    <form asp-action="UpdateInfoAccount" asp-controller="Account" method="post">
        <input type="hidden" asp-for="Id" />
        <div class="card-body">
            <div class="mb-3">
                <label for="FullName">Họ và tên</label>
                <input asp-for="FullName" class="form-control" id="FullName" />
                <span asp-validation-for="FullName" class="text-danger" />
            </div>

            <div class="mb-3">
                <label for="Username">Tên người dùng</label>
                <input asp-for="UserName" class="form-control" id="Username" readonly />
                <span asp-validation-for="UserName" class="text-danger" />
            </div>

            <div class="mb-3">
                <label for="Email">Email</label>
                <input asp-for="Email" class="form-control" id="Email" readonly />
                <span asp-validation-for="Email" class="text-danger" />
            </div>

            <div class="mb-3">
                <label for="PhoneNumber">Số điện thoại</label>
                <input asp-for="PhoneNumber" class="form-control" id="PhoneNumber" />
                <span asp-validation-for="PhoneNumber" class="text-danger" />
            </div>

            <div class="mb-3">
                <label for="Address">Địa chỉ</label>
                <input asp-for="Address" class="form-control" id="Address" />
                <span asp-validation-for="Address" class="text-danger" />
            </div>

            <button type="submit" class="btn btn-primary w-100 mt-3 btn-sm">Lưu</button>
        </div>
    </form>
</div>
