@model AppUserModel

<title>Thêm Mới Nhân Viên</title>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<div class="container">
    <h2 class="text-center mt-4">Thêm Mới Nhân Viên</h2>

    <!-- Form to Add New Employee -->
    <form asp-action="Create" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Tên Tài Khoản</label>
                <input asp-for="UserName" required class="form-control">
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>

            <div class="form-group col-md-6">
                <label>Họ và Tên</label>
                <input asp-for="FullName" required class="form-control">
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Email</label>
                <input asp-for="Email" required class="form-control">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group col-md-6">
                <label>Số điện thoại</label>
                <input asp-for="PhoneNumber" required class="form-control">
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Địa chỉ</label>
                <input asp-for="Address" class="form-control">
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label>Mật khẩu</label>
                <input asp-for="PasswordHash" type="password" required class="form-control">
                <span asp-validation-for="PasswordHash" class="text-danger"></span>
            </div>
           
        </div>
       
        <div class="custom-button-group mt-3">
            <button type="submit" class="btn btn-primary">Thêm mới</button>
        </div>
    </form>
</div>

<!-- JavaScript and Bootstrap -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
@section Scripts {
    @Html.Partial("_ValidationScriptsPartial")
}
